/* Utils */
:root {
  --white-color: #FFFFFF;
  --black-color: #212121;
  --brand-color: #2196F3;
  --grey-color: #757575;
  --dark-grey-color: #2F303A;
  --snow-color: #F5F4FA;
  --footer-color: #2F303A;
  --border-cards-color: #EEEEEE;
  --svg-color: #AFB1B8;
  --icons-footer-bg: rgba(255, 255, 255, 0.1);
  --bg-color-decisions: #C4C4C4;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

:root {
  --min-mobile-size: min-width: 320px;
  --max-mobile-size: max-width: 767px;
  --min-tablet-size: min-width: 768px;
  --max-tablet-size: max-width: 1599px;
}

/* base */
body {
  font-family: var(--main-font);
  color: var(--white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 15px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 0 15px;
    width: 100%;
    max-width: 738px;
    padding: 0;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .row {
    width: 100%;
  }
}

.current {
  color: var(--brand-color);
  position: relative;
}

.current::before {
  content: "";
  left: 0;
  top: 45px;
  position: absolute;
  background: #2196F3;
  border-radius: 2px;
  display: block;
  height: 4px;
  width: 100%;
}

.current-mobile {
  color: var(--brand-color);
}

/* Layout */
.header {
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    position: relative;
  }
}
.header .container {
  max-width: 100%;
  padding: 0 15px;
}

.header-mobile__icon {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-mobile__icon {
    width: 24px;
    height: 16px;
    display: inline-block;
    margin-left: auto;
  }
  .header-mobile__icon:hover, .header-mobile__icon:focus {
    fill: var(--brand-color);
  }
}

.header-logo__headline {
  color: var(--black-color);
}

.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    padding: 16px 0;
    font-size: 24px;
  }
}

.header__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  list-style: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__list {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}
.header__list .header-list__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__list .header-list__link:hover, .header__list .header-list__link:focus {
  color: var(--brand-color);
}
.header__list .header-list__link:hover::after, .header__list .header-list__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header__list .header-list__link::after {
  content: "";
  left: 0;
  top: 45px;
  position: absolute;
  background: #2196F3;
  border-radius: 2px;
  display: block;
  height: 4px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 21px 0;
  }
}
.header-contacts .header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header-contacts .header-contacts__icon {
  margin-right: 10px;
}
.header-contacts .header-contacts__link {
  color: var(--svg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--grey-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header-contacts .header-contacts__link:hover, .header-contacts .header-contacts__link:focus {
  color: var(--brand-color);
}
.header-contacts .icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
}
.header-contacts .icon-phone {
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.hero {
  height: 600px;
  margin: 0 auto;
  max-width: 1600px;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/Img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Img.jpg");
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1199px) {
  .hero {
    background-size: cover;
    background-position: center;
    padding: 118px 0;
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .hero .container {
    padding-right: 45px;
    padding-left: 45px;
  }
}
@media screen and (min-width: 768px) and (max-height: 1199px) {
  .hero .container {
    padding-right: 189px;
    padding-left: 189px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("../img/Header img_2x.jpg");
  }
}
.hero .hero__title {
  width: 696px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero .hero__title {
    font-size: 26px;
    width: 100%;
    letter-spacing: 0.06em;
    line-height: 1.6;
  }
}
.hero .hero__btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-family: var(--main-font);
  width: 216px;
  height: 50px;
  border: none;
  background: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.hero .hero__btn:hover {
  cursor: pointer;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--black-color);
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .features-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .features-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .features-list .features-list__item:not(.features-list__item:first-child) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .features-list .features-list__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .features-list .features-list__item {
    width: calc((100% - 60px) / 2);
    max-width: 354px;
  }
}
.features-list .features-list__block {
  background-color: var(--snow-color);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features-list .features-list__title {
  margin-top: 30px;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .features-list .features-list__title {
    text-align: center;
  }
}
.features-list .features-list__text {
  margin-top: 10px;
  font-weight: 400;
  color: var(--grey-color);
  line-height: 1.7;
}
.features-list .features-list__icon {
  width: 70px;
  height: 70px;
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  max-width: 528px;
  max-height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-height: 609px;
    max-width: 450px;
  }
}
.modal .modal__text {
  margin-bottom: 12px;
  text-align: center;
  color: var(--black-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
.modal .modal-close__btn {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  left: 92%;
  top: 8px;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal-close__btn:focus, .modal .modal-close__btn:hover {
  color: var(--brand-color);
}
.modal .modal-close__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.modal .modal__btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--brand-color);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  padding: 10px 52px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: var(--main-font);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal__btn:hover, .modal .modal__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .modal .modal__btn {
    margin-top: auto;
  }
}

.modal-form__label {
  display: inline-block;
  margin-top: 10px;
  color: var(--grey-color);
  font-size: 12px;
}

.modal-form__block {
  margin-top: 4px;
  position: relative;
}
.modal-form__block:focus-within, .modal-form__block:hover {
  fill: var(--brand-color);
}
.modal-form__block .modal-form__icon {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__block .modal-form__input {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  -webkit-transition-property: border, outline;
  transition-property: border, outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__block .modal-form__input:hover, .modal-form__block .modal-form__input:focus, .modal-form__block .modal-form__input:focus-within {
  border: 1px solid var(--brand-color);
  outline: none;
  cursor: pointer;
}
.modal-form__block .modal-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.16;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border, outline, border-radius;
  transition-property: border, outline, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__block .modal-form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__block .modal-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__block .modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__block .modal-form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__block .modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__block .modal-form__comment:hover, .modal-form__block .modal-form__comment:focus, .modal-form__block .modal-form__comment:focus-within {
  border: 1px solid var(--brand-color);
  outline: none;
  cursor: pointer;
}

.modal-checkbox__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-top: 20px;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .modal-checkbox__block {
    margin-top: auto;
  }
}
.modal-checkbox__block .modal-checkbox__label {
  color: var(--grey-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  line-height: 1.71;
}
.modal-checkbox__block .modal-checkbox__label:hover {
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .modal-checkbox__block .modal-checkbox__text {
    line-height: 1.2;
    font-size: 12px;
  }
}
.modal-checkbox__block .modal-checkbox__link {
  color: var(--brand-color);
  text-decoration: underline;
}
.modal-checkbox__block .modal-checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
}
.modal-checkbox__block .modal-checkbox__input:checked + .non-checked + .is-checked {
  fill: var(--white-color);
  background-color: var(--brand-color);
  border-radius: 2px;
}
.modal-checkbox__block .modal-checkbox__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  .modal-checkbox__block .modal-checkbox__icon {
    left: 0;
  }
}
.modal-checkbox__block .is-checked {
  fill: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.actions {
  padding-top: 0;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .actions {
    display: none;
  }
}
.actions .actions__title {
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-color);
}
.actions .actions-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.actions .actions-list__item {
  position: relative;
}
.actions .actions-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  text-transform: uppercase;
}

.team {
  background: var(--snow-color);
}
.team .team__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-color);
}
@media screen and (max-width: 1199) {
  .team .team__title {
    font-size: 28px;
    line-height: 1.17;
  }
}
.team .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .team .team-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.team .team-list__item {
  background: var(--white-color);
  font-size: 16px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .team-list__block {
  padding: 30px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .team-list__img {
    max-width: 354px;
  }
}
.team .team-list__title {
  color: var(--black-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 1.18;
}
.team .team-list__text {
  color: var(--grey-color);
  line-height: 1.35;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.team .team-list__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.team .team-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.team .team-icon__link {
  color: var(--svg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team-icon__link:hover, .team .team-icon__link:focus {
  color: var(--white-color);
  border-radius: 50%;
  border: 1px solid var(--brand-color);
  background-color: var(--brand-color);
}

.clients__title {
  color: var(--black-color);
  font-size: 36px;
  font-weight: 700;
  font-family: var(--main-font);
  line-height: 1.16;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.clients-list .clients-list__item {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .clients-list .clients-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list .clients-list__item {
    width: calc((100% - 90px) / 3);
  }
}
.clients-list .clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  color: var(--svg-color);
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .clients-list__link:hover, .clients-list .clients-list__link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}
.clients-list .clients-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  background: var(--footer-color);
  padding: 60px 0;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .container {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer .footer-contacts__block {
  display: inline-block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .footer-contacts__block {
    text-align: center;
  }
}
.footer .footer-contacts__logo {
  color: var(--white-color);
}
.footer .logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}
.footer .footer-address__block {
  margin-top: 20px;
}
.footer .footer-address__text {
  line-height: 1.7;
  font-style: normal;
  font-size: 14px;
}
.footer .footer-contacts__list {
  line-height: 1.7;
  font-style: normal;
}
.footer .footer-contacts__item {
  margin-top: 9px;
}
.footer .footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.footer .footer-contacts__link:hover, .footer .footer-contacts__link:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-subscribe__block {
    margin: 60px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe__block {
    text-align: center;
  }
}

.footer-subscribe__text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-subscribe__text {
    text-align: center;
  }
}

.footer-subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.footer-subscribe__list .footer-subscribe__link {
  background-color: var(--icons-footer-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe__list .footer-subscribe__link:hover, .footer-subscribe__list .footer-subscribe__link:focus {
  color: var(--white-color);
  border-radius: 50%;
  border: 1px solid var(--brand-color);
  background-color: var(--brand-color);
}
.footer-subscribe__list .footer-subscribe__icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-footer__block {
    margin-top: 60px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc((100% - 300px) / 1);
  }
}
.subscribe-footer__block .subscribe-footer__text {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
}
.subscribe-footer__block .subscribe-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscribe-footer__block .subscribe-footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-footer__block .subscribe-footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
.subscribe-footer__block .subscribe-footer__label {
  width: 100%;
}
.subscribe-footer__block .subscribe-footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-color);
  outline: none;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .subscribe-footer__block .subscribe-footer__input {
    width: 100%;
    max-width: 450px;
  }
}
.subscribe-footer__block .subscribe-footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 12px;
  letter-spacing: 0.06em;
  border: none;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
  padding: 0 28px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscribe-footer__block .subscribe-footer__btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-footer__block .subscribe-footer__btn {
    width: 200px;
  }
}
.subscribe-footer__block .subscribe-footer__icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

.portfolio-list__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-list__btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.portfolio-list__btn .portfolio-item__btn {
  background-color: var(--snow-color);
  border-radius: 4px;
  padding: 8px 22px;
  color: var(--black-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  border: none;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__btn .portfolio-item__btn:hover, .portfolio-list__btn .portfolio-item__btn:focus {
  background: var(--brand-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1199px) {
  .portfolio-cards__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-cards__list .portfolio-cards__item {
    width: 354px;
  }
}
.portfolio-cards__list .portfolio-cards__link {
  display: inline-block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__list .portfolio-cards__link:hover, .portfolio-cards__list .portfolio-cards__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards__list .portfolio-cards__link:hover .portfolio-cards__overlay, .portfolio-cards__list .portfolio-cards__link:focus .portfolio-cards__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-cards__list .portfolio-cards__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
.portfolio-cards__list .portfolio-item__wrap {
  overflow: hidden;
  position: relative;
}
.portfolio-cards__list .portfolio-cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1px;
  padding: 63px 24px;
  color: var(--white-color);
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-cards__list .portfolio-cards__img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-cards__list .portfolio-cards__img {
    width: 354px;
  }
}
.portfolio-cards__list .portfolio-overlay__text {
  font-size: 18px;
  line-height: 1.55;
}
.portfolio-cards__list .portfolio-item__block {
  padding: 20px 24px;
  border-left: 1px solid var(--border-cards-color);
  border-right: 1px solid var(--border-cards-color);
  border-bottom: 1px solid var(--border-cards-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-cards__list .portfolio-item__block {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.portfolio-cards__list .portfolio-item__header {
  font-weight: 700;
  font-size: 18px;
  color: var(--black-color);
  letter-spacing: 0.06em;
  line-height: 2;
}
.portfolio-cards__list .portfolio-item__text {
  margin-top: 4px;
  font-size: 16px;
  color: var(--grey-color);
  line-height: 1.8;
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  background-color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile .header-mobile__icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
}
.header-mobile .header-mobile__icon-close:hover, .header-mobile .header-mobile__icon-close:focus {
  fill: var(--brand-color);
}

.header-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.header-mobile__list .header-mobile__list-link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  line-height: 1.17;
}
.header-mobile__list .header-mobile__list-link:hover, .header-mobile__list .header-mobile__list-link:focus {
  color: var(--brand-color);
}

.header-mobile__contacts {
  margin-top: auto;
}

.header-mobile__contacts-item {
  font-weight: 500;
  font-size: 34px;
}
.header-mobile__contacts-item .header-mobile__contacts-link {
  color: var(--brand-color);
  line-height: 1.17;
}

.header-mobile__contacts-item:last-child {
  font-size: 24px;
  margin-top: 32px;
}
.header-mobile__contacts-item:last-child .header-mobile__contacts-link {
  color: var(--grey-color);
}

.header-mobile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
}

.header-mobile__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header-mobile__social-item .header-mobile__social-link {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}/*# sourceMappingURL=main.css.map */