
:root {
    --white-color: #FFFFFF;
    --black-color: #212121;
    --brand-color: #2196F3;
    --grey-color: #757575;
    --dark-grey-color: #2F303A;
    --snow-color: #F5F4FA;
    --footer-color: #2F303A;
    --border-cards-color: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}

.row {
    display: flex;
    align-items: center;
}

.main-menu-list {
    margin-left: 93px;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--black-color);
}

.main-menu-list li {
    padding-top: 32px;
    padding-bottom: 32px;
}

.current {
    color: var(--brand-color);
}

.main-menu-list li a:hover {
    color: var(--brand-color);
}

.header-logo span {
    color: var(--black-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts li {
    margin: 0 32px;
}

.contacts li a {
    color: var(--grey-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts li a:hover {
    color: var(--brand-color);
}

.decisions {
    padding: 200px 0;
    background: var(--dark-grey-color);

}

.decisions h1 {
    width: 696px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.header-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    width: 216px;
    height: 50px;
    border: none;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
}

.header-btn:hover {
    cursor: pointer;
}

.features-list {
    display: flex;
    justify-content: space-between;
    color: var(--black-color);
}

.features-list h3 {
    font-size: 14px;
}

.features-list li {
    width: 270px;
}

.features-list li p {
    margin-top: 10px;
    font-weight: 400;
    color: var(--grey-color);;
    line-height: 1.7;
}

.actions {
    padding-top: 0;
}

.actions h2 {
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-color);
}

.pictures-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.pictures-list li img {
    width: 370px;
    height: 294px;
}

.team-cards li img {
    width: 270px;
    height: 260px;
}

.team {
    background: var(--snow-color);
}

.team h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-color);
}

.team-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.team-cards li {
    background: var(--white-color);
    font-size: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
}

.team-cards li h3 {
    color: var(--black-color);;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.18;
}

.team-cards li p {
    color: var(--grey-color);;
    line-height: 1.35;
    text-align: center;
    margin-top: 10px;
}

footer {
    background: var(--footer-color);
    padding: 60px 0;
}

footer p {
    line-height: 1.7;
    font-style: normal;
    font-size: 14px;
}

.contacts-footer {
    line-height: 1.7;
    font-style: normal;
}

.contacts-footer li {
    margin-top: 9px;
}

.contacts-footer li a {
    color: rgba(255, 255, 255, 0.6);
}

.contacts-footer li a:hover {
    color: var(--brand-color)
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--brand-color)
}

footer a span {
    color: var(--white-color)
}

footer .logo {
    display: inline-block;
}


/* portfolio */

header {
    border-bottom: 1px solid #ECECEC;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.portfolio-list li button {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 8px 22px;
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 1.625;
}

.portfolio-list li button:hover {
    background: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.cards-wrapper li div {
   padding: 24px 20px;
   border-left: 1px solid var(--border-cards-color);
   border-right: 1px solid var(--border-cards-color);
   border-bottom: 1px solid var(--border-cards-color);
}

.cards-wrapper li h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--black-color);
    letter-spacing: 0.06em;
    line-height: 2;
}

.cards-wrapper li p {
    font-size: 16px;
    color: var(--grey-color);
    line-height: 1.8;
    margin: 0;
}

.section {
    padding: 94px 0;
}







