
:root {
    --white-color: #FFFFFF;
    --black-color: #212121;
    --brand-color: #2196F3;
    --grey-color: #757575;
    --dark-grey-color: #2F303A;
    --snow-color: #F5F4FA;
    --footer-color: #2F303A;
    --border-cards-color: #EEEEEE;
    --svg-color: #AFB1B8;
    --icons-footer-bg: rgba(255, 255, 255, 0.1);
    --bg-color-decisions: #C4C4C4;
}

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    align-items: center;
}
 

/* header */

.main-menu-list {
    margin-left: 93px;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.main-menu-list li {
    padding-top: 32px;
    padding-bottom: 32px;
}

.current {
    color: var(--brand-color);
    position: relative;
}

.current::before {
    content: '';
    left: 0;
    top: 45px;
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    display: block;
    height: 4px;
    width: 100%;
}

.main-menu-link {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.main-menu-link:hover, .main-menu-link:focus {
    color: var(--brand-color);
}

.main-menu-link::after {
    content: '';
    left: 0;
    top: 45px;
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    display: block;
    height: 4px;
    width: 100%;

    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
}

.main-menu-link:hover::after, 
.main-menu-link:focus::after{
    transform: scaleX(1);
}

.header-logo span {
    color: var(--black-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts li {
    display: flex;
    margin: 0 32px;
}

.icon-envelope {
    fill: currentColor;
    width: 16px; 
    height: 12px;
}

.icon-phone {
    fill: currentColor;
    width: 10px;
    height: 16px;
}

.contacts li svg {
    margin-right: 10px;
}

.contacts li a {
    color: var(--svg-color);
    display: flex;
    align-items: center;
    color: var(--grey-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.contacts a:hover, 
.contacts a:focus {
    color: var(--brand-color); 
}

/* main-head-block */

.decisions {
    margin: 0 auto;
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) , rgba(47, 48, 58, 0.4)), url("../img/Img.jpg");
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.decisions h1 {
    width: 696px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.header-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    width: 216px;
    height: 50px;
    border: none;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
}

.features-list {
    display: flex;
    justify-content: space-between;
    color: var(--black-color);
}

.features-list li svg {
    width: 70px;
    height: 70px;
}

.features-list li div {
    background-color: var(--snow-color);
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-list h3 {
    margin-top: 30px;
    font-size: 14px;
}

.features-list li {
    width: 270px;
}

.features-list li p {
    margin-top: 10px;
    font-weight: 400;
    color: var(--grey-color);;
    line-height: 1.7;
}

.actions {
    padding-top: 0;
}

.actions h2 {
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-color);
}

.pictures-list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.pictures-list-item {
    position: relative;
}

.pictures-list-item p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    text-transform: uppercase;
}

.team-cards li img {
    width: 270px;
    height: 260px;
}

.team {
    background: var(--snow-color);
}

.team h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-color);
}

.team-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.team-cards .social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social a {
    color: var(--svg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social a:hover, 
.social a:focus {
    color: var(--white-color);
    border-radius: 50%;
    border: 1px solid var(--brand-color);
    background-color: var(--brand-color);
}


.social-icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.team-cards .team-cards-item {
    background: var(--white-color);
    font-size: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}

.team-cards-info {
    padding: 30px 0;
}

.team-cards li h3 {
    color: var(--black-color);;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.18;
}

.team-cards li p {
    color: var(--grey-color);;
    line-height: 1.35;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}

/* footer */

footer {
    background: var(--footer-color);
    padding: 60px 0;
}

footer p {
    line-height: 1.7;
    font-style: normal;
    font-size: 14px;
}

.contacts-footer {
    line-height: 1.7;
    font-style: normal;
}

.contacts-footer li {
    margin-top: 9px;
}

.contacts-footer li a {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.contacts-footer li a:hover,
.contacts-footer li a:focus {
    color: var(--brand-color); 
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--brand-color)
}

footer a span {
    color: var(--white-color)
}

address {
    margin-top: 20px;
}

.contacts-footer-block {
    display: inline-block;
}

.clients-list-item {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
}

.clients-list-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--svg-color);
    border-radius: 4px;
    color: var(--svg-color);

    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item a:hover, 
.clients-list-item a:focus {
    border-color: var(--brand-color);
    color: var(--brand-color);
}

.clients-list-icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

.clients-list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.clients h2 {
    color: var(--black-color);
    font-size: 36px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 1.16;
    text-align: center;
}

.social-footer {
    gap: 10px;
    display: flex;
    margin-top: 20px;
}

.social-footer a {
    border-radius: 50%;
    background-color: var(--icons-footer-bg);
}

.social-footer svg {
    fill: var(--white-color);
}

.subscribe p {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.subscribe {
    display: inline-block;
    margin-left: 70px;    
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.subscribe-form-block {
    margin-left: 93px;
}

.subscribe-form-block p {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14;
}

.subscribe-form-input {
    margin-top: 20px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-color);
    outline: none;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-btn-wrap {
    display: inline-block;
}

.subscribe-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 12px;
    letter-spacing: 0.06em;
    border: none;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
}

.subscribe-btn-icon {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
}

/* portfolio */

header {
    border-bottom: 1px solid #ECECEC;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.portfolio-list li button {
    background-color: var(--snow-color);
    border-radius: 4px;
    padding: 8px 22px;
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li button:hover, .portfolio-list li button:focus {
    background: var(--brand-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.cards-link {
    display: inline-block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover, 
.cards-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1px;
    padding: 63px 24px;
    color: var(--white-color);
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .cards-overlay, .cards-link:focus .cards-overlay {
    transform: translateY(0);
}

.cards-wrapper li h2 {
    font-weight: 700;
    font-size: 18px;
    color: var(--black-color);
    letter-spacing: 0.06em;
    line-height: 2;
}

.cards-item-text p {
    margin-top: 4px;
    font-size: 16px;
    color: var(--grey-color);
    line-height: 1.8;
}

.cards-item-wrap {
    overflow: hidden;
    position: relative;
    width: 370px;
    height: 294px;
}

.cards-item-text {
    padding: 20px 24px;
    border-left: 1px solid var(--border-cards-color);
    border-right: 1px solid var(--border-cards-color);
    border-bottom: 1px solid var(--border-cards-color);
}

.cards-overlay p {
    font-size: 18px;
    line-height: 1.55;
}

.header-btn:hover {
    cursor: pointer;
}

/* modal */

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal h3 {
    margin-bottom: 12px;
    text-align: center;
    color: var(--black-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.modal .modal-label {
    display: inline-block;
    margin-top: 10px;
    color: var(--grey-color);
    font-size: 12px;
}

.modal .modal-input-svg {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 11px;
    left: 12px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .input-user-info {
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;

    transition-property: border, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-user-info:hover, 
.input-user-info:focus, 
.input-user-info:focus-within {
    border: 1px solid var(--brand-color);
    outline: none;
    cursor: pointer;
}

.modal .input-comment {
    resize: none;
    width: 448px;
    min-height: 120px;
    padding: 12px 16px;
    letter-spacing: 0.01em;
    font-size: 12px;
    line-height: 1.16;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border, outline, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.input-comment:hover,
.input-comment:focus-within,
.input-comment:focus {
    border: 1px solid var(--brand-color);
    outline: none;
    cursor: pointer;
}

.modal-input-block {
    margin-top: 4px;
    position: relative;
}

.modal-checkbox-link {
    color: var(--brand-color);
    text-decoration: underline;
}

.modal-input-block:focus-within, .modal-input-block:hover {
    fill: var(--brand-color);
}

.modal-close-btn {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    left: 490px;
    top: 8px;
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.modal-input-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
}

.modal-close-btn:hover, .modal-close-btn:focus {
    color: var(--brand-color);
}

.modal-checkbox-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}

.modal-checkbox-label {
    color: var(--grey-color);
    display: flex;
    align-items: center;
    gap: 7px;
    line-height: 1.71;
}

.modal-checkbox-label:hover {
    cursor: pointer;
}

.modal-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--brand-color);
    border-radius: 4px;
    border: none;
    color: var(--white-color);
    padding: 10px 52px;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-checkbox-block svg {
    position: absolute;
    width: 16px;
    height: 15px;
    left: 20px;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checked-svg {
    fill: none;
}


.modal-input-checkbox:checked + .modal-checkbox-svg + .modal-checked-svg {
    fill: var(--white-color);
    background-color: var(--brand-color);
    border-radius: 2px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }













