* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #212121;
    --brand-color: #2196F3;
    --grey-color: #757575;
    --dark-grey-color: #2F303A;
    --snow-color: #F5F4FA;
    --footer-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

.main-menu-list {
    position: absolute;
    left: 403px;
    top: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-color);
}

.main-menu-list li {
    display: inline;
    margin: 0 32px;
}

.current {
    color: var(--brand-color);
}

.main-menu-list li a:hover {
    color: var(--brand-color);
}


.header-logo {
    position: absolute;
    left: 215px;
    top: 24px;
}

.header-logo span {
    color: var(--black-color);
}

.contacts {
    position: absolute;
    left: 1030px;
    top: 32px;
}
.contacts li {
    display: inline;
    margin: 0 32px;
}

.contacts li a {
    color: var(--grey-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts li a:hover {
    color: var(--brand-color);
}

.decisions {
    margin-top: 80px;
    width: 1600px;
    height: 600px;
    background: var(--dark-grey-color);
}

.decisions h1 {
    margin-left: 492px;
    margin-top: 200px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.header-btn {
    margin-left: 692px;
    margin-top: 30px;
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 216px;
    height: 50px;
    border: none;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
}

.header-btn:hover {
    cursor: pointer;
}

.features {
    left: 215px;
    top: 774px;
}

.features-list {
    margin-top: 694px;
    margin-left: 215px;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 98px;
    color: var(--black-color);
    list-style-type: none;
}

.features-list li {
    width: 270px;
}

.features-list li p {
    margin-top: 10px;
    font-weight: 400;
    color: var(--grey-color);;
    line-height: 1.7;
}

.actions h2 {
    margin-top: 94px;
    height: 42px;
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-color);
}

.pictures-list {
    margin-top: 50px;
    margin-left: 215px;
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.pictures-list li img {
    width: 370px;
    height: 294px;
}

.team-cards li img {
    width: 270px;
    height: 260px;
}

.team {
    width: 1600px;
    height: 648px;
    background: var(--snow-color);
    margin-top: 94px;
}

.team h2 {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 94px;
    color: var(--black-color);
    margin-top: 94px;
    margin-left: 668px;
}

.team-cards {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-top: 50px;
    margin-left: 215px;
}

.team-cards li {
    background: var(--white-color);
    font-size: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
}

.team-cards li h3 {
    color: var(--black-color);;
    text-align: center;
    margin-top: 30px;
}

.team-cards li p {
    color: var(--grey-color);;
    font-weight: 400;
    line-height: 1.35;
    text-align: center;
    margin-top: 10px;
}

footer {
    width: 1600px;
    height: 252px;
    background: var(--footer-color)
}

footer p {
    line-height: 1.7;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.contacts-footer {
    line-height: 1.7;
    font-style: normal;
    margin-top: 9px;
}

.contacts-footer li {
    list-style-type: none;
    margin-top: 9px;
}

.contacts-footer li a {
    color: rgba(255, 255, 255, 0.6);
}

.contacts-footer li a:hover {
    color: var(--brand-color)
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    width: 145px;
    height: 31px;
    color: var(--brand-color)
}

footer a span {
    color: var(--white-color)
}

footer .logo {
    display: inline-block;
    margin-top: 50px;
    margin-left: 215px;
}

address {
    width: 231px;
    height: 21px;
    margin-left: 215px;
    margin-top: 20px;
}

/* portfolio */

header {
    border-bottom: 1px solid #ECECEC;
    height: 80px;
}

.portfolio-list {
    margin-top: 94px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.portfolio-list li button {
    margin: 0 8px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 8px 22px;
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 1.625;
}

.portfolio-list li button:hover {
    background: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    width: 1170px;
    margin-left: 215px;
    margin-top: 56px;
}

.cards-wrapper li {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
}

.cards-wrapper li h2 {
    font-weight: 700;
    font-size: 18px;
    color: var(--black-color);
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 24px;
    line-height: 2;
}

.cards-wrapper li p {
    font-size: 16px;
    color: var(--grey-color);
    margin-top: 4px;
    margin-left: 24px;
    line-height: 1.8;
}







