* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.main-menu-list {
    position: absolute;
    left: 403px;
    top: 32px;
    font-size: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.main-menu-list li {
    display: inline;
    margin: 0 32px;
}

.main-menu-list li a {
    color: #212121;
}

.main-menu-list li a:hover {
    color: #2196F3;
}

.header-logo {
    position: absolute;
    left: 215px;
    top: 24px;
}

.header-logo span {
    color: #000000;
}

.contacts {
    position: absolute;
    left: 1030px;
    top: 32px;
}
.contacts li {
    display: inline;
    margin: 0 32px;
}

.contacts li a {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contacts li a:hover {
    color: #2196F3;
}

.decisions {
    position: absolute;
    width: 1600px;
    height: 600px;
    background: #2F303A;
    margin-top: 80px;
}

.decisions h1 {
    position: absolute;
    left: 452px;
    top: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.header-btn {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 216px;
    height: 50px;
    left: 660px;
    top: 350px;
    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
}

.header-btn:hover {
    cursor: pointer;
}

.features {
    left: 215px;
    top: 774px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 98px;
    position: absolute;
    color: #212121;
    left: 215px;
    top: 774px;
    list-style-type: none;
}

.features-list li {
    width: 270px;
    font-size: 14px;
}

.features-list li p {
    margin-top: 10px;
    font-weight: 400;
    color: #757575;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.actions h2 {
    position: absolute;
    height: 42px;
    left: 617px;
    top: 966px;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.pictures-list {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    top: 1058px;
    left: 215px;
}

.pictures-list li img {
    width: 370px;
    height: 294px;
}

.team-cards li img {
    width: 270px;
    height: 260px;
}

.team {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;
    background: #F5F4FA;
}

.team h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 94px;
    color: #212121;
    left: 668px;
    top: 1540px;
}

.team-cards {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    left: 215px;
    margin-top: 50px;
}

.team-cards li {
    background: #FFFFFF;
    font-size: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
}

.team-cards li h3 {
    color: #212121;
    text-align: center;
    margin-top: 30px;
}

.team-cards li p {
    color: #757575;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

footer {
    display: flex;
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background: #2F303A;
}

footer p {
    
    font-size: 14px;
    line-height: 171%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.contacts-footer {
    font-size: 14px;
    line-height: 171%;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-top: 9px;
}

.contacts-footer li {
    list-style-type: none;
    margin-top: 9px;
}

.contacts-footer li a {
    color: rgba(255, 255, 255, 0.6);
}

.contacts-footer li a:hover {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    width: 145px;
    height: 31px;
    color: #2196F3;
}

footer a span {
    color: #FFFFFF;
}

footer .logo {
    margin-top: 50px;
    margin-left: 215px;
}

address {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 111px;
}




