* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.row {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.action-wrapper {
    color: #212121;
    display: flex;
    justify-content: center;
    margin-top: 118px;
}

.header-btn {
    width: 216px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 700;
    color: #FFFFFF;
}

.header-btn:hover {
    cursor: pointer;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.decisions-text {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
  
.header {
    height: 80px;
    display: flex;
    align-items: center;
}

.decisions {
    height: 600px;
    background-color: #2F303A;
}

.main-menu {
    margin-left: 53px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.main-menu-list {
    display: flex;
    justify-content: space-between;
}

.main-menu-list li {
    list-style: none;
    margin-left: 50px;
}

.features-list {
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
}

.features-list h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.features-list p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.email {
    margin-left: 344px;
    font-weight: 500;
    font-size: 14px;
}

.phone-number {
    color: #757575;
    margin-left: 40px;
    font-weight: 500;
    font-size: 14px;
}

.phone-number:hover {
    color: #2196F3;
    cursor: pointer;
}

.pictures-list img {
    width: 370px;
    height: 294px;

}

.pictures-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.team {
    background: #F5F4FA;
    height: 648px;
    margin-top: 94px;
}

.team-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.team-cards li img {
    width: 270px;
    height: 260px;
}

.team-wrapper h2 {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-cards li {
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-list-item p {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}

.card-list-item span {
    color: #212121;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.footer {
    height: 252px;
    background: #2F303A;
}

.footer-logo {
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

address p {
    margin-top: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

address p:hover {
    color: #2196F3;
    cursor: pointer;
}

address :first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.header-logo {
    color: #000000;
    font-size: 26px;
    letter-spacing: 0.03em;
}
.logo span {
    color: #2196F3;
}









