.features-list {
    display: flex;
    justify-content: center;
    color: var(--black-color);
    gap: 30px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    .features-list__item:not(.features-list__item:first-child) {
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }

    .features-list__item {

        @media screen and (max-width: 767px) {
            max-width: 450px;
        }

        @media screen and (min-width: 767px) and (max-width: 1199px) {
            width: calc((100% - 2 * 30px) / 2);
            max-width: 354px;
        }
    }
    
    .features-list__block {
        background-color: var(--snow-color);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .features-list__title {
        margin-top: 30px;
        font-size: 14px;

        @media screen and (max-width: 767px) {
           text-align: center;
        }
    }
    
    .features-list__text {
        margin-top: 10px;
        font-weight: 400;
        color: var(--grey-color);;
        line-height: 1.7;
    }
    
    .features-list__icon {
        width: 70px;
        height: 70px;
    }
}

