.subscribe-form__block {
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 60px;
        text-align: center;
        width: calc((100% - 2 * 150px) / 1);
    }
    

    .subscribe-form__text {
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.14;
    }
    
    .subscribe-footer__form {
        display: flex;
        margin-top: 20px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
    
    .subscribe-form__input {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--footer-color);
        outline: none;
        padding-left: 16px;
        color: rgba(255, 255, 255, 0.3);

        @media screen and (max-width: 480px) and (max-width: 767px) {
            width: 100%;
        }
    }
    
    .subscribe-form__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 12px;
        letter-spacing: 0.06em;
        border: none;
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: var(--white-color);
        cursor: pointer;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            margin: 0 auto;
            margin-top: 20px;
        }

    }
    
    .subscribe-btn__icon {
        width: 24px;
        height: 24px;
        fill: var(--white-color);
    }
}

