.hero {
    height: 600px;
    margin: 0 auto;
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) , rgba(47, 48, 58, 0.4)), url("../img/Img.jpg");
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 1199px) {
       
        background-size: cover;
        background-position: center;
        padding: 118px 0;
        height: 400px;
    }

    .container {

        @media screen and (max-width: 767px) {
            padding-right: 45px;
            padding-left: 45px;
        }

        @media screen and (min-width: 768px) and (max-height: 1199px) {
            padding-right: 189px;
            padding-left: 189px;
        }
    }
    

    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .box {
        background-image: url("../img/Header img_2x.jpg");
  }
}

    .hero__title {
        width: 696px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (max-width: 1199px) {
            font-size: 26px;
            width: 100%;
            letter-spacing: 0.06em;
            line-height: 1.6;
        }
    }

    .hero__btn {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        font-family: var(--main-font);
        width: 216px;
        height: 50px;
        border: none;
        background: var(--brand-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: var(--white-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;

        &:hover {
            cursor: pointer;
        }
    }

}

