:root {
    --white-color: #FFFFFF;
    --black-color: #212121;
    --brand-color: #2196F3;
    --grey-color: #757575;
    --dark-grey-color: #2F303A;
    --snow-color: #F5F4FA;
    --footer-color: #2F303A;
    --border-cards-color: #EEEEEE;
    --svg-color: #AFB1B8;
    --icons-footer-bg: rgba(255, 255, 255, 0.1);
    --bg-color-decisions: #C4C4C4;
}

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
}

:root {
    --min-mobile-size: min-width: 320px;
    --max-mobile-size: max-width: 767px;
    --min-tablet-size: min-width: 768px;
    --max-tablet-size: max-width: 1599px;
}